.loginsignup {
    width: 100%;
    min-height: 90vh;
    background: url('/public/Assets/auth-register-back-image.avif') no-repeat center center;
    background-size: cover;
    padding-top: 100px;
}

.loginsignup-container {
    width: 90%;
    max-width: 550px;
    background: rgba(255, 255, 255, 0.7);
    margin: auto;
    padding: 30px 40px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.loginsignup-container h1 {
    margin: 15px 0px;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.loginsignup-fields input {
    height: 60px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 0;
}

.loginsignup-container button {
    width: 100%;
    height: 60px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}

.loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 18px;
    gap: 10px;
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 500;
}

.text-danger {
    color: red;
    font-size: 14px;
    /* margin-top: 5px; */
    margin-bottom: 5px;
}

.password-strength {
    font-weight: 600;
    margin-top: 4px;
}

.password-strength.weak {
    color: red;
}

.password-strength.moderate {
    color: orange;
}

.password-strength.good {
    color: blue;
}

.password-strength.excellent {
    color: green;
}


@media(max-width: 600px) {
    .loginsignup-container h1 {
        font-size: 22px;
        margin: 0px;
    }

    .loginsignup-container {
        padding: 30px 20px;
    }

    .loginsignup-fields input {
        padding-left: 10px;
        font-size: 16px;
        height: 50px;
    }

    .loginsignup-fields {
        gap: 15px;
    }

    .loginsignup-container button {
        height: 50px;
        margin-top: 20px;
        font-size: 17px;
    }
}