.listproduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-height: 100vh;
    /* Ensure the container doesn't exceed the viewport height */
    padding: 10px 50px;
    margin: 30px auto;
    border-radius: 6px;
    background: #fff;
    overflow: hidden;
    /* Prevent overflow from affecting the layout */
}

.listproduct-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* Ensure the header takes full width */
    margin-bottom: 10px;
}

.add-product-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-product-button {
    padding: 10px 20px;
    background-color: #92979c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove-product-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #f52e2e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.add-product-button:hover {
    background-color: #0056b3;
}

.listproduct-format-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's total width and height */
}

.listproduct-format {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    /* Added padding for grid items */
    font-weight: 500;
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's total width and height */
}

.listproduct-product-icon {
    height: 80px;
    width: 80px;
}

.listproduct-remove-icon {
    cursor: pointer;
    margin: auto;
}

.listproduct-allproducts {
    width: 100%;
    overflow-y: auto;
    /* Enable vertical scrolling for the product list */
    flex-grow: 1;
    /* Allow the list to take remaining space */
}

.listproduct-allproducts hr {
    margin: 0;
}

.listproduct-allproducts::-webkit-scrollbar {
    display: none;
}

@media (max-width: 800px) {
    .listproduct {
        box-sizing: border-box;
        width: 95%;
        height: 100%;
        padding: 10px 30px;
        margin: 20px auto;
    }

    .listproduct-format-main {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        font-size: 12px;
    }

    .listproduct-format {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .listproduct-product-icon {
        height: 60px;
    }
}